
// 1. Color
$primary_color:        #007acc;
$secondary_color:      #f88a56;

$primary_text_color:   #222222;
$secondary_text_color: #666666;

$line_color:          #d7d7d7;
// Font
$primary_font:      'Open Sans', sans-serif;
$secondary_font:    'Roboto Slab', sans-serif;


//spacing

// 2. Spacing
    //Spacing bitween two block
    $margin_element: 15px; //in mobile
    $margin_element-lg: 30px; //in desktop
    
    $padding_element: 15px; //in mobile
    $padding_element-lg: 30px; //in desktop

    
    
