.biography {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    border-top: 1px solid $line_color;

    &__image {
        flex: 0 0 50px;
        max-width: 50px;
        img {
            width: 100%;
            height: 50px;
            border-radius: 50%;
        }
    }
    &__weburl {
        @extend .secondary_text_color;
        font-size: 13px;
        font-style: italic;
        display: block;
        margin-bottom: 5px;
    }
    &__title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
        a {
            color: inherit;
            &:hover {
                @extend .primary_color;
            }
        }
    }
    &__counters{
        margin-bottom: 7px;
    }
    &__posts-count, &__comments-count {
        background-color: $primary_text_color;
        color: #fff;
        font-size: 12px;
        display: inline-block;
        margin-right: 7px;
        padding:2px 7px;
        font-weight: bold;
        text-transform: uppercase;
    }
    &__body {
        @extend .secondary_text_color;
        p {
            margin-bottom: 0;
            font-size: 13px;
        }
    }
    &__content {
        flex: 0 0 calc(100% - 50px);
        max-width: calc(100% - 50px);
        padding-left: 10px;

        .user-contact-methods {
            font-size: 18px;
            padding-top: 10px;
            @extend .primary_text_color;
            li {
                a {
                    color: inherit;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: 30px;

        &__image {
            flex: 0 0 80px;
            max-width: 80px;
            img {
                height: 80px;
            }
        }
        &__title {
            font-size: 18px;
        }
        &__content {
            padding-left: 25px;
            flex: 0 0 calc(100% - 80px);
            max-width: calc(100% - 80px);

        }
        &__body {
            p {
                font-size: 14px;
            }
        }
    }
}

body.author{
    .biography{
        border:1px solid $line_color;
        padding: 15px;
        margin-bottom: 30px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 50px;
            padding: 30px;
        }
    }
}
