/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 14, 2017, 5:35:10 PM
    Author     : HP 6200 Pro
*/

.releated_posts {
  margin-bottom: 30px;
  .releated_posts__title{
    border-top: none;
    margin-bottom: 28px;
    font-weight: 700;
    line-height: 1.3125;
    padding-top: 28px;
    font-size: 23px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}